
@media only screen and (max-width: 600px) {
   
    .listCard img{        
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        float: left;
    }
    .listCard {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }
    .listHeader{
        padding-bottom: 10px;
    }
    .listCard h4{
        margin: 0;
    }

  }