@media only screen and (max-width: 600px) {
   
    .smallCardMain{
        height: 650px;
    }
    .SimplelistCard {
        border-radius: 5% 5%;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
        width: 80%;
        height: 100px;
        margin-left: 10%;
        padding-bottom: 3%;
        margin-bottom: 5%;
        padding-top: 5%;
        text-align: center;
    }
    
    .SimplelistCard img{
        margin: 0;
        padding: 0;
        margin-top: -20px;
        border-top-right-radius: 5%;
        border-bottom-right-radius: 5%;
        height: 133px;
        float: right;

    }
    
    .SimplelistHeader h4{
        margin-top: -10px;
    }
    .SimplelistBody{
        display: flex;
        flex-flow: column;
    }
    .SimplelistBody p{
        margin: 0;
        padding: 0;
    }
    .SimpleListSpacer{
        margin: 0;
    }
    button {
            padding-top: 2%;
            padding-bottom: 2%;
            border-radius: 3px;
            border-style: none;
            background-color: #4d4216c2;
            color: white;
            margin-bottom: 3%;
            margin-top: 5%;        
    }
  }