.profileMain{
    background-color: aqua;
}
.profileCard{
    float: left;
    border-radius: 10% 10%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 40%;
    max-width: 500px;
    text-align: center;
    margin-left: 2%;
}
.profileCard img{
    width: 70%;
}
.buttonCustom{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#listItems{
    text-align: left;
    width: 100%;
    margin-right: 2%;
    margin-left: -10%;
}
.profileCard1{
    float: right;
    border-radius: 10% 10%;
    box-shadow: 0 8px 12px 1px rgba(0,0,0,0.2);
    width: 50%;
    max-width: 500px;
    text-align: center;
    margin-right: 2%;
    margin-bottom: 3%;
    margin-top: 2%;
}
.profileAvatar{
    margin-top: 2%;
}
@media only screen and (max-width: 600px) {

    
.profileCard{
    float: left;
    border-radius: 10% 10%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 80%;
    max-width: 500px;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 10%;
}

    .profileCard1{
        border-radius: 10% 10%;
        border: black;
        border-width: 1px;
        border-style: solid;
        box-shadow: 0 8px 12px 1px rgba(0,0,0,0.2);
        width: 80%;
        max-width: 500px;
        text-align: center;
        margin-right: 10%;
        margin-left: 10%;        
        margin-bottom: 4%;
        margin-top: 2%;
    }
    .profileCard1:hover{
        border: gray;
        border-width: 1px;
        border-style: solid;
        box-shadow: 0 16px 24px 0px rgba(0,0,0,0.2);
    }
}