.thankText_container{
    display: flex;
    margin-top: 30%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
    padding-top: 2%;
    border-radius: 1%;
    /*box-shadow: 0 8px 12px 1px rgba(0, 0, 0, 0.2);*/
}

.thankText{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    color: green;
    font-size: 2em;

    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}