
    img{
        max-width: 100%;
        background-color: black;
        border-radius: 10%;
    }
    .innerCard {
        width: 90%;
        margin: 0 5% 10px 5%;
        border-radius: 10%;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    }
    .cardTitle {
        padding: 0 1em 0 1em;
    }
    .cardBody {
        padding: 0 1em 0 1em;
    }
    .cardFooter {
        width: 100%;
        display: inline-block;
        padding: 0 0 1em 0;
    }
    .footerItem {
        padding: 0 0 0 1em;
        display: inline;
    }

@media only screen and (max-width: 600px) {

  }