
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.sectionTitle {
    padding: 0 5% 0 5%;
    text-decoration: underline;
}

.taskList {
}

.taskItem {
    padding: 0.5em 5% 0.5em 5%;
    width: 100%;
}
.taskInner {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    border: #F27127 groove;
    border-width: 2px;
    border-radius: 2%;
    text-align: center;
}

.taskText {
    margin: 0.5em 0 0.5em 0;
}


@media only screen and (max-width: 600px) {
    ::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }
}