.LifeMeters {

}

.LifeMeterHeader {
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
}

.LifeMeterHeader p{
    margin-left: 4%;
    margin-top: 2px;
}
.lifeMeterNav {
    margin-left: 50%;
}
.LifeMeterCell {
    height: 100px;
}
.LifeMeterCell p{
    text-align: left;
    margin-left: 10%;
}
.LifeMeterLine1 {
    width: 80%;

}