
.profileHeader {
    background-image: linear-gradient(#f2f2f2, white,white);
    margin-top: -30px;
    padding: 0;
}

.profileHeader img{
    margin-top: 10%;
    margin-bottom: -2%;
    height: 100px;
    border-radius: 50%;
}

.profileHeader p{
    text-align: left;
    margin-left: 10%;
}
.accountDetail{
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
}
.accountDetail p {
    margin-left: 4%;
    margin-top: 2px;

}
.buttonProfile {
    margin-left: 41%;
}
.buttonProfileStat {
    margin-left: 48%;
}
.userDetails {
    padding-bottom: 20px;
}
.statisticsDetail{
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
}
.StatDetails{
    padding-bottom: 20px;
}

.statisticsDetail p {
    margin-left: 4%;
    margin-top: 2px;
}

.ReactCollapse--collapse {
    transition: 0.6s;
  }
  .ReactCollapse--content {
}
