.history_container{
    display: block;
    margin-top: 30%;
    border-radius: 1%;
    box-shadow: 0 8px 12px 1px rgba(0, 0, 0, 0.2);
}

.history_tag{
    text-align:center;
}

.history_date{
    text-align:center;
}

.history_time{
    text-align:center;
}

.history_event{
    text-align:center;
}

.history_ProfileContainer{
    background-color: rgba(123, 255, 96, 0.5);
}

.history_QuizContainer{
    background-color: rgba(243, 240, 79, 0.5);
}

.history_ShopContainer{
    background-color: rgba(96, 244, 255, 0.5);
}