.login_container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.login_box {
  border-radius: 10% 10%;
  width: 450px;
  height: 430px;
  background-color: orange;
  box-shadow: 0 8px 12px 1px rgba(0,0,0,0.2);
  padding: 10px;
}

.login_signintext{
  text-align: center;
  color: white;
  font-size: 4em;
}

.login_line{
  margin-top: 5%;
  text-align: center;
  width: 60%;
  border: 0.5px solid white;
}

.login_usernameContainer{
  margin-top: 5%;
  text-align: center;
}

.login_passwordContainer{
  margin-top: 10%;
  text-align: center;
}

.login_username{
  width: 75%;
  height: 35px;
  border-radius: 20px;
  border-style: none;
  font-size: 1.2em;
  padding-left: 3%;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.500);
}

.login_username:hover{
}

.login_password{
  width: 75%;
  height: 35px;
  border-radius: 20px;
  border-style: none;
  font-size: 1.2em;
  padding-left: 3%;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.500);
}

.login_btncontainer{
  margin-top: 10%;
  text-align: center;
}

.login_btn{
  width: 45%;
  height: 50px;
  border-radius: 20px;
  border-style: none;
  font-size: 1.2em;
  background-color: grey;
  color: white;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.500);
}

.login_ErrorMsg{
  padding-top: 5px;
  text-align: center;
}

.login_noAccount{
  margin-top: 5%;
  text-align: center;
}

.login_noaccountbtn{
  color: white;
  font-size: 1.1em;
  background-color: transparent;
  border-style: none;
}