@media all and (min-width: 480px) {
    .register-container {
      display: flex;
      width: 100%;
      justify-content: center;
    }

    .register-box {
      border-radius: 10% 10%;
      box-shadow: 0 8px 12px 1px rgba(0,0,0,0.2);
      padding: 10px;
    }
  }