.detailPopup{
    border-radius: 8%;
    width: 70%;
    height: 40%;
    background-color: white;
    z-index: 200;
    position: fixed;
    top: 15%;
    left: 15%;
}
.detailHeader h1{
    text-align: center;
}

.detailHeader p{
    text-align: center;
}
.detailBody {
    margin-top: 40%;
}

.buttoni {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 1.2em;
    background-color: #04bfbf;
    color: white;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    margin-top: 40%;
    margin-left: 10%;
    margin-right: 10%;
}