.inventoryText{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.inventoryList{
    padding-left: 2%;
    padding-right: 2%;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.inventory_emptyInventory{
    font-size: 1.2em;
    margin-top: 80px;
    font-weight: 500;
    text-align:center;
}

.inventoryItem_box{
    display: flex;
    flex-direction: column;
    border-radius: 1%;
    width: 170px;
    height: 85px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 8px 12px 1px rgba(0, 0, 0, 0.2);
}

.inventory_img{
    height: 85px;
    width: 170px;
    border-radius: 10px 10px 0px 0px;
    margin-top: 20px;
    margin-bottom: -10px;
    box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.1), 10px 0 10px -5px rgba(0, 0, 0, 0.1);
}

.inventory_price{
    font-weight: 500;
}

.inventory_name{
    font-weight: 500;
    margin-top: 1%;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 360px) {
    .inventory_img{
        width: 150px;
    }

    .inventoryItem_box{
        width: 150px;
    }
}

@media screen and (max-width: 320px) {
    .inventory_img{
        height: 70px;
        width: 140px;
    }

    .inventoryItem_box{
        width: 140px;
    }
}